/**
 * Common styles taken directly from TT's stylesheet for use with extension.
 */
/* line 5, ../sass/_common.scss */
#tmsPanel header {
  position: absolute;
  width: 700px;
  height: 60px;
  background: #4e4e4e;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #666666), color-stop(100%, #333333));
  background: -webkit-linear-gradient(top, #666666 0, #333333 100%);
  background: linear-gradient(to bottom, #666666 0%, #333333 100%);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/* line 16, ../sass/_common.scss */
#tmsPanel hgroup {
  height: 60px;
  color: #FFFFFF;
  background: #333333;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2a2a2a), color-stop(100%, #333333));
  background: -webkit-linear-gradient(top, #2a2a2a 0, #333333 100%);
  background: linear-gradient(to bottom, #2a2a2a 0%, #333333 100%);
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.5);
}

/* line 26, ../sass/_common.scss */
#tmsPanel .toggleBtn {
  width: 31px;
  height: 30px;
  text-indent: -9999px;
  box-shadow: inset 0 0 0 1px black, inset 0 2px 0 0 rgba(255, 255, 255, 0.25), 0 1px 0 0 rgba(0, 0, 0, 0.25);
  overflow: hidden;
  margin-left: -1px;
  background: #808080;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #999999), color-stop(100%, #666666));
  background: -webkit-linear-gradient(top, #999999 0, #666666 100%);
  background: linear-gradient(to bottom, #999999 0%, #666666 100%);
  border: none;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 43, ../sass/_common.scss */
#tmsPanel .toggleBtn:hover {
  background: #808080;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bbbbbb), color-stop(100%, #888888));
  background: -webkit-linear-gradient(top, #bbbbbb 0, #888888 100%);
  background: linear-gradient(to bottom, #bbbbbb 0%, #888888 100%);
}
/* line 50, ../sass/_common.scss */
#tmsPanel .toggleBtn:active {
  box-shadow: inset 0 0 0 1px black, inset 0 1px 5px 0 black, 0 1px 0 0 rgba(255, 255, 255, 0.1);
  background: #808080;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #666666), color-stop(100%, #999999));
  background: -webkit-linear-gradient(top, #666666 0, #999999 100%);
  background: linear-gradient(to bottom, #666666 0%, #999999 100%);
}

/* line 59, ../sass/_common.scss */
#tmsContent table thead, #tmsContent .songListHead {
  height: 36px;
  color: #999999;
  font-size: 13px;
  font-weight: bold;
  text-shadow: 0 1px 0 white;
  text-align: center;
  border-top: solid 1px white;
  border-bottom: solid 1px #999999;
  background: #eee;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #cccccc));
  background: -webkit-linear-gradient(top, #eeeeee 0, #cccccc 100%);
  background: linear-gradient(to bottom, #eeeeee 0%, #cccccc 100%);
}

/* line 75, ../sass/_common.scss */
#tmsCurrentSong div {
  font-family: 'DSDotsMedium',Helvetica,Arial,sans-serif;
  color: #f2dace;
  text-shadow: 0 0 5px red;
  background: url(https://s3.amazonaws.com/static.turntable.fm/images/room/board-sprite-0.png?cachebuster=1) -303px -178px no-repeat;
}

/**
 * Custom Common Styles
 */
/* line 87, ../sass/_common.scss */
#tmsPanel hgroup h1 {
  color: white;
  text-shadow: 0 1px 1px black;
}

/* line 92, ../sass/_common.scss */
#tmsContent .dataTables_scrollHead, #tmsPanel hgroup h2 {
  color: #999999;
  text-shadow: 0 1px 1px black;
}

/* line 97, ../sass/_common.scss */
#tmsPanel #tmsLogo {
  text-align: center;
}
/* line 100, ../sass/_common.scss */
#tmsPanel #tmsLogo > div {
  display: inline-block;
  vertical-align: middle;
}
/* line 105, ../sass/_common.scss */
#tmsPanel #tmsLogo div div {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  font-size: 20px;
  width: 1.625em;
  border: 0.2em solid #d8a126;
  height: 1.438em;
  border-radius: 3em 3em 0 0;
  border-bottom: none;
  margin-left: -0.2em;
  position: relative;
}
/* line 116, ../sass/_common.scss */
#tmsPanel #tmsLogo div div:hover {
  opacity: .8;
}
/* line 120, ../sass/_common.scss */
#tmsPanel #tmsLogo div div:before {
  position: absolute;
  content: '';
  top: 1.1em;
  left: 0.05em;
  width: 0.313em;
  height: 0.625em;
  background: #d8a126;
  border-radius: 0 0.125em 0.125em 0;
}
/* line 131, ../sass/_common.scss */
#tmsPanel #tmsLogo div div:after {
  position: absolute;
  content: '';
  top: 1.1em;
  left: 1.26em;
  width: 0.313em;
  height: 0.625em;
  background: #d8a126;
  border-radius: 0.125em 0 0 0.125em;
}

/*
 *  File:         demo_table.css
 *  CVS:          $Id$
 *  Description:  CSS descriptions for DataTables demo pages
 *  Author:       Allan Jardine
 *  Created:      Tue May 12 06:47:22 BST 2009
 *  Modified:     $Date$ by $Author$
 *  Language:     CSS
 *  Project:      DataTables
 *
 *  Copyright 2009 Allan Jardine. All Rights Reserved.
 *
 * ***************************************************************************
 * DESCRIPTION
 *
 * The styles given here are suitable for the demos that are used with the standard DataTables
 * distribution (see www.datatables.net). You will most likely wish to modify these styles to
 * meet the layout requirements of your site.
 *
 * Common issues:
 *   'full_numbers' pagination - I use an extra selector on the body tag to ensure that there is
 *     no conflict between the two pagination types. If you want to use full_numbers pagination
 *     ensure that you either have "example_alt_pagination" as a body class name, or better yet,
 *     modify that selector.
 *   Note that the path used for Images is relative. All images are by default located in
 *     ../images/ - relative to this CSS file.
 */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables features
 */
/* line 33, ../sass/_dataTables.scss */
.dataTables_wrapper {
  position: relative;
  clear: both;
  zoom: 1;
  /* Feeling sorry for IE */
}

/* line 39, ../sass/_dataTables.scss */
.dataTables_processing {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 250px;
  height: 30px;
  margin-left: -125px;
  margin-top: -15px;
  padding: 14px 0 2px 0;
  border: 1px solid #dddddd;
  text-align: center;
  color: #999;
  font-size: 14px;
  background-color: white;
}

/* line 55, ../sass/_dataTables.scss */
.dataTables_length {
  width: 40%;
  float: left;
}

/* line 60, ../sass/_dataTables.scss */
.dataTables_filter {
  width: 50%;
  float: right;
  text-align: right;
}

/* line 66, ../sass/_dataTables.scss */
.dataTables_info {
  width: 60%;
  float: left;
}

/* line 71, ../sass/_dataTables.scss */
.dataTables_paginate {
  float: right;
  text-align: right;
}

/* Pagination nested */
/* line 78, ../sass/_dataTables.scss */
.paginate_disabled_previous, .paginate_enabled_previous,
.paginate_disabled_next, .paginate_enabled_next {
  height: 19px;
  float: left;
  cursor: pointer;
  *cursor: hand;
  color: #111111 !important;
}

/* line 86, ../sass/_dataTables.scss */
.paginate_disabled_previous:hover, .paginate_enabled_previous:hover,
.paginate_disabled_next:hover, .paginate_enabled_next:hover {
  text-decoration: none !important;
}

/* line 90, ../sass/_dataTables.scss */
.paginate_disabled_previous:active, .paginate_enabled_previous:active,
.paginate_disabled_next:active, .paginate_enabled_next:active {
  outline: none;
}

/* line 95, ../sass/_dataTables.scss */
.paginate_disabled_previous,
.paginate_disabled_next {
  color: #666666 !important;
}

/* line 98, ../sass/_dataTables.scss */
.paginate_disabled_previous, .paginate_enabled_previous {
  padding-left: 23px;
}

/* line 101, ../sass/_dataTables.scss */
.paginate_disabled_next, .paginate_enabled_next {
  padding-right: 23px;
  margin-left: 10px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables display
 */
/* line 133, ../sass/_dataTables.scss */
table.display {
  margin: 0 auto;
  clear: both;
  width: 100%;
  /* Note Firefox 3.5 and before have a bug with border-collapse
   * ( https://bugzilla.mozilla.org/show%5Fbug.cgi?id=155955 ) 
   * border-spacing: 0; is one possible option. Conditional-css.com is
   * useful for this kind of thing
   *
   * Further note IE 6/7 has problems when calculating widths with border width.
   * It subtracts one px relative to the other browsers from the first column, and
   * adds one to the end...
   *
   * If you want that effect I'd suggest setting a border-top/left on th/td's and 
   * then filling in the gaps with other borders.
   */
}

/* line 152, ../sass/_dataTables.scss */
table.display thead th {
  padding: 3px 18px 3px 10px;
  border-bottom: 1px solid black;
  font-weight: bold;
  cursor: pointer;
  * cursor: hand;
}

/* line 160, ../sass/_dataTables.scss */
table.display tfoot th {
  padding: 3px 18px 3px 10px;
  border-top: 1px solid black;
  font-weight: bold;
}

/* line 166, ../sass/_dataTables.scss */
table.display tr.heading2 td {
  border-bottom: 1px solid #aaaaaa;
}

/* line 170, ../sass/_dataTables.scss */
table.display td {
  padding: 3px 10px;
}

/* line 174, ../sass/_dataTables.scss */
table.display td.center {
  text-align: center;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables sorting
 */
/* line 205, ../sass/_dataTables.scss */
table.display thead th:active,
table.display thead td:active {
  outline: none;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables row classes
 */
/* line 215, ../sass/_dataTables.scss */
table.display tr.odd.gradeA {
  background-color: #d4d4d4;
}

/* line 219, ../sass/_dataTables.scss */
table.display tr.even.gradeA {
  background-color: #e6e6e6;
}

/* line 223, ../sass/_dataTables.scss */
table.display tr.odd.gradeC {
  background-color: #bbbbbb;
}

/* line 227, ../sass/_dataTables.scss */
table.display tr.even.gradeC {
  background-color: #cccccc;
}

/* line 231, ../sass/_dataTables.scss */
table.display tr.odd.gradeX {
  background-color: #a2a2a2;
}

/* line 235, ../sass/_dataTables.scss */
table.display tr.even.gradeX {
  background-color: #b3b3b3;
}

/* line 239, ../sass/_dataTables.scss */
table.display tr.odd.gradeU {
  background-color: #888888;
}

/* line 243, ../sass/_dataTables.scss */
table.display tr.even.gradeU {
  background-color: #999999;
}

/* line 248, ../sass/_dataTables.scss */
tr.odd {
  background-color: #eeeeee;
}

/* line 252, ../sass/_dataTables.scss */
tr.even {
  background-color: white;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Misc
 */
/* line 263, ../sass/_dataTables.scss */
.dataTables_scroll {
  clear: both;
}

/* line 267, ../sass/_dataTables.scss */
.dataTables_scrollBody {
  *margin-top: -1px;
  -webkit-overflow-scrolling: touch;
}

/* line 272, ../sass/_dataTables.scss */
.top, .bottom {
  padding: 15px;
  background-color: #F5F5F5;
  border: 1px solid #cccccc;
}

/* line 278, ../sass/_dataTables.scss */
.top .dataTables_info {
  float: none;
}

/* line 282, ../sass/_dataTables.scss */
.clear {
  clear: both;
}

/* line 286, ../sass/_dataTables.scss */
.dataTables_empty {
  text-align: center;
}

/* line 290, ../sass/_dataTables.scss */
tfoot input {
  margin: 0.5em 0;
  width: 100%;
  color: #444;
}

/* line 296, ../sass/_dataTables.scss */
tfoot input.search_init {
  color: #999;
}

/* line 300, ../sass/_dataTables.scss */
td.group {
  background-color: #d1cfd0;
  border-bottom: 2px solid #a19b9e;
  border-top: 2px solid #a19b9e;
}

/* line 306, ../sass/_dataTables.scss */
td.details {
  background-color: #d1cfd0;
  border: 2px solid #a19b9e;
}

/* line 312, ../sass/_dataTables.scss */
.example_alt_pagination div.dataTables_info {
  width: 40%;
}

/* line 316, ../sass/_dataTables.scss */
.paging_full_numbers {
  width: 400px;
  height: 22px;
  line-height: 22px;
}

/* line 322, ../sass/_dataTables.scss */
.paging_full_numbers a:active {
  outline: none;
}

/* line 326, ../sass/_dataTables.scss */
.paging_full_numbers a:hover {
  text-decoration: none;
}

/* line 331, ../sass/_dataTables.scss */
.paging_full_numbers a.paginate_button,
.paging_full_numbers a.paginate_active {
  border: 1px solid #aaaaaa;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 2px 5px;
  margin: 0 3px;
  cursor: pointer;
  *cursor: hand;
  color: #333333 !important;
}

/* line 342, ../sass/_dataTables.scss */
.paging_full_numbers a.paginate_button {
  background-color: #ddd;
}

/* line 346, ../sass/_dataTables.scss */
.paging_full_numbers a.paginate_button:hover {
  background-color: #ccc;
  text-decoration: none !important;
}

/* line 351, ../sass/_dataTables.scss */
.paging_full_numbers a.paginate_active {
  background-color: #99B3FF;
}

/* line 355, ../sass/_dataTables.scss */
table.display tr.even.row_selected td {
  background-color: #B0BED9;
}

/* line 359, ../sass/_dataTables.scss */
table.display tr.odd.row_selected td {
  background-color: #9FAFD1;
}

/*
 * Sorting classes for columns
 */
/* For the standard odd/even */
/* line 368, ../sass/_dataTables.scss */
tr.odd td.sorting_1 {
  background-color: #e1e1e1;
}

/* line 372, ../sass/_dataTables.scss */
tr.odd td.sorting_2 {
  background-color: rgba(186, 235, 254, 0.6);
}

/* line 376, ../sass/_dataTables.scss */
tr.odd td.sorting_3 {
  background-color: rgba(186, 235, 254, 0.4);
}

/* line 380, ../sass/_dataTables.scss */
tr.even td.sorting_1 {
  background-color: #f2f2f2;
}

/* line 384, ../sass/_dataTables.scss */
tr.even td.sorting_2 {
  background-color: rgba(186, 235, 254, 0.3);
}

/* line 388, ../sass/_dataTables.scss */
tr.even td.sorting_3 {
  background-color: rgba(186, 235, 254, 0.4);
}

/* For the Conditional-CSS grading rows */
/*
 	Colour calculations (based off the main row colours)
  Level 1:
		dd > c4
		ee > d5
	Level 2:
	  dd > d1
	  ee > e2
 */
/* line 402, ../sass/_dataTables.scss */
tr.odd.gradeA td.sorting_1 {
  background-color: #c4ffc4;
}

/* line 406, ../sass/_dataTables.scss */
tr.odd.gradeA td.sorting_2 {
  background-color: #d1ffd1;
}

/* line 410, ../sass/_dataTables.scss */
tr.odd.gradeA td.sorting_3 {
  background-color: #d1ffd1;
}

/* line 414, ../sass/_dataTables.scss */
tr.even.gradeA td.sorting_1 {
  background-color: #d5ffd5;
}

/* line 418, ../sass/_dataTables.scss */
tr.even.gradeA td.sorting_2 {
  background-color: #e2ffe2;
}

/* line 422, ../sass/_dataTables.scss */
tr.even.gradeA td.sorting_3 {
  background-color: #e2ffe2;
}

/* line 426, ../sass/_dataTables.scss */
tr.odd.gradeC td.sorting_1 {
  background-color: #c4c4ff;
}

/* line 430, ../sass/_dataTables.scss */
tr.odd.gradeC td.sorting_2 {
  background-color: #d1d1ff;
}

/* line 434, ../sass/_dataTables.scss */
tr.odd.gradeC td.sorting_3 {
  background-color: #d1d1ff;
}

/* line 438, ../sass/_dataTables.scss */
tr.even.gradeC td.sorting_1 {
  background-color: #d5d5ff;
}

/* line 442, ../sass/_dataTables.scss */
tr.even.gradeC td.sorting_2 {
  background-color: #e2e2ff;
}

/* line 446, ../sass/_dataTables.scss */
tr.even.gradeC td.sorting_3 {
  background-color: #e2e2ff;
}

/* line 450, ../sass/_dataTables.scss */
tr.odd.gradeX td.sorting_1 {
  background-color: #ffc4c4;
}

/* line 454, ../sass/_dataTables.scss */
tr.odd.gradeX td.sorting_2 {
  background-color: #ffd1d1;
}

/* line 458, ../sass/_dataTables.scss */
tr.odd.gradeX td.sorting_3 {
  background-color: #ffd1d1;
}

/* line 462, ../sass/_dataTables.scss */
tr.even.gradeX td.sorting_1 {
  background-color: #ffd5d5;
}

/* line 466, ../sass/_dataTables.scss */
tr.even.gradeX td.sorting_2 {
  background-color: #ffe2e2;
}

/* line 470, ../sass/_dataTables.scss */
tr.even.gradeX td.sorting_3 {
  background-color: #ffe2e2;
}

/* line 474, ../sass/_dataTables.scss */
tr.odd.gradeU td.sorting_1 {
  background-color: #c4c4c4;
}

/* line 478, ../sass/_dataTables.scss */
tr.odd.gradeU td.sorting_2 {
  background-color: #d1d1d1;
}

/* line 482, ../sass/_dataTables.scss */
tr.odd.gradeU td.sorting_3 {
  background-color: #d1d1d1;
}

/* line 486, ../sass/_dataTables.scss */
tr.even.gradeU td.sorting_1 {
  background-color: #d5d5d5;
}

/* line 490, ../sass/_dataTables.scss */
tr.even.gradeU td.sorting_2 {
  background-color: #e2e2e2;
}

/* line 494, ../sass/_dataTables.scss */
tr.even.gradeU td.sorting_3 {
  background-color: #e2e2e2;
}

/*
 * Row highlighting example
 */
/* line 502, ../sass/_dataTables.scss */
.ex_highlight tbody tr.even:hover, tbody tr.even td.highlighted {
  background-color: #ECFFB3;
}

/* line 506, ../sass/_dataTables.scss */
.ex_highlight tbody tr.odd:hover, tbody tr.odd td.highlighted {
  background-color: #E6FF99;
}

/* line 510, ../sass/_dataTables.scss */
.ex_highlight_row tr.even:hover {
  background-color: #ECFFB3;
}

/* line 514, ../sass/_dataTables.scss */
.ex_highlight_row tr.even:hover td.sorting_1 {
  background-color: #DDFF75;
}

/* line 518, ../sass/_dataTables.scss */
.ex_highlight_row tr.even:hover td.sorting_2 {
  background-color: #E7FF9E;
}

/* line 522, ../sass/_dataTables.scss */
.ex_highlight_row tr.even:hover td.sorting_3 {
  background-color: #E2FF89;
}

/* line 526, ../sass/_dataTables.scss */
.ex_highlight_row tr.odd:hover {
  background-color: #E6FF99;
}

/* line 530, ../sass/_dataTables.scss */
.ex_highlight_row tr.odd:hover td.sorting_1 {
  background-color: #D6FF5C;
}

/* line 534, ../sass/_dataTables.scss */
.ex_highlight_row tr.odd:hover td.sorting_2 {
  background-color: #E0FF84;
}

/* line 538, ../sass/_dataTables.scss */
.ex_highlight_row tr.odd:hover td.sorting_3 {
  background-color: #DBFF70;
}

/*
 * KeyTable
 */
/* line 546, ../sass/_dataTables.scss */
table.KeyTable td {
  border: 3px solid transparent;
}

/* line 550, ../sass/_dataTables.scss */
table.KeyTable td.focus {
  border: 3px solid #3366ff;
}

/* line 554, ../sass/_dataTables.scss */
table.display tr.gradeA {
  background-color: #eeffee;
}

/* line 558, ../sass/_dataTables.scss */
table.display tr.gradeC {
  background-color: #ddddff;
}

/* line 562, ../sass/_dataTables.scss */
table.display tr.gradeX {
  background-color: #ffdddd;
}

/* line 566, ../sass/_dataTables.scss */
table.display tr.gradeU {
  background-color: #ddd;
}

/* line 570, ../sass/_dataTables.scss */
div.box {
  height: 100px;
  padding: 10px;
  overflow: auto;
  border: 1px solid #8080ff;
  background-color: #E5E5FF;
}

/* line 2, ../sass/_songList.scss */
#tmsContent table {
  font-size: 12px;
  height: 0px;
  border-spacing: 0;
  margin-right: -8px;
  width: 680px;
  table-layout: fixed;
}
/* line 13, ../sass/_songList.scss */
#tmsContent table thead .sorting_asc, #tmsContent table thead .sorting_desc {
  color: #666666;
  text-shadow: 0 1px 0 #eeeeee;
}
/* line 19, ../sass/_songList.scss */
#tmsContent table tbody {
  height: 400px;
  overflow: auto;
  color: #333333;
}
/* line 25, ../sass/_songList.scss */
#tmsContent table tr {
  cursor: pointer;
}
/* line 28, ../sass/_songList.scss */
#tmsContent table tr:hover div {
  background: #baebfe;
}
/* line 30, ../sass/_songList.scss */
#tmsContent table tr .length, #tmsContent table tr .genre {
  text-align: center;
}
/* line 33, ../sass/_songList.scss */
#tmsContent table td div {
  height: 12px;
  line-height: 12px;
  padding: 5px 3px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 45, ../sass/_songList.scss */
#tmsContent .songListHead {
  padding: 5px;
  height: 30px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
}
/* line 53, ../sass/_songList.scss */
#tmsContent .songListHead .dataTables_info {
  text-align: left;
}
/* line 57, ../sass/_songList.scss */
#tmsContent .songListHead .dataTables_filter {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 25%;
}
/* line 63, ../sass/_songList.scss */
#tmsContent .songListHead .dataTables_filter input {
  padding: 2px 5px;
  border: 0;
  outline: 0;
  background: #FFF;
  border-radius: 14px;
  box-shadow: inset 0 0 0 1px #888888, 0 1px 0 0 white;
  outline: none;
}
/* line 75, ../sass/_songList.scss */
#tmsContent .dataTables_wrapper {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 79, ../sass/_songList.scss */
#tmsContent .dataTables_scrollHead {
  width: 700px !important;
  height: 18px;
}
/* line 85, ../sass/_songList.scss */
#tmsContent .dataTables_scrollBody {
  width: 700px !important;
}

/**
 * Additional Styles for the Song Board
 */
/* line 5, ../sass/_songBoard.scss */
#bigboard {
  text-align: center;
}

/* line 9, ../sass/_songBoard.scss */
.zoom-0 #awesome-meter {
  top: -57px !important;
}

/* line 13, ../sass/_songBoard.scss */
#tmsCurrentSong {
  position: relative;
  top: -126px;
  left: 0px;
  display: inline-block;
  padding: 5px 7px 0px 7px;
  background: url(https://s3.amazonaws.com/static.turntable.fm/images/room/board-sprite-0.png) top left no-repeat;
  background-size: 100%;
}
/* line 24, ../sass/_songBoard.scss */
#tmsCurrentSong div {
  background-position: -20px -102px;
  padding: 0 5px;
  text-align: center;
  box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.5);
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
}
/* line 34, ../sass/_songBoard.scss */
#tmsCurrentSong label {
  display: inline-block;
  margin: 2px 2px 0 2px;
}
/* line 38, ../sass/_songBoard.scss */
#tmsCurrentSong label .emoji {
  opacity: .7;
}

/* line 33, ../sass/styles.scss */
#tmsPanel,
#tmsPanel *
#tmsCurrentSong,
#tmsCurrentSong * {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 38, ../sass/styles.scss */
#tmsPanel {
  position: absolute;
  bottom: -75px;
  width: 700px;
  height: 60px;
  margin-right: -350px;
  overflow: hidden;
  z-index: 25009;
  opacity: .95;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: height 0.4s ease-in-out;
  -moz-transition: height 0.4s ease-in-out;
  -o-transition: height 0.4s ease-in-out;
  transition: height 0.4s ease-in-out;
}
/* line 51, ../sass/styles.scss */
.width-level-0 #tmsPanel, .width-level-1 #tmsPanel {
  right: 631px;
}
/* line 52, ../sass/styles.scss */
.width-level-2 #tmsPanel, .centered-mode #tmsPanel {
  right: 50%;
}
/* line 57, ../sass/styles.scss */
#tmsPanel.open {
  height: 460px;
}
/* line 61, ../sass/styles.scss */
#tmsPanel header {
  left: 0;
  bottom: 0;
  z-index: 9;
}
/* line 69, ../sass/styles.scss */
#tmsPanel.open header {
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
}
/* line 73, ../sass/styles.scss */
#tmsPanel #tmsLogo {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 60px;
  height: 60px;
  display: block;
}
/* line 84, ../sass/styles.scss */
#tmsPanel hgroup {
  position: absolute;
  left: 85px;
  width: 400px;
  padding-top: 10px;
}
/* line 91, ../sass/styles.scss */
#tmsPanel hgroup h1, #tmsPanel hgroup h2 {
  text-align: center;
}
/* line 95, ../sass/styles.scss */
#tmsPanel hgroup h1 {
  font-size: 20px;
  opacity: .75;
}
/* line 102, ../sass/styles.scss */
#tmsPanel hgroup h2 {
  font-size: 14px;
}
/* line 108, ../sass/styles.scss */
#tmsPanel .toggleBtn {
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -18px;
  height: 36px;
  width: 100px;
  text-indent: 0;
  font-size: 14px;
  font-weight: bold;
}

/* line 123, ../sass/styles.scss */
#tmsContent {
  position: relative;
  width: 700px;
  height: 10px;
  margin-bottom: 5px;
  overflow: hidden;
  color: #333333;
  background-color: #cccccc;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-transition: height 0.4s ease-in-out;
  -moz-transition: height 0.4s ease-in-out;
  -o-transition: height 0.4s ease-in-out;
  transition: height 0.4s ease-in-out;
}
/* line 136, ../sass/styles.scss */
.open #tmsContent {
  height: 400px;
  margin-bottom: 0;
}

/* line 144, ../sass/styles.scss */
::-webkit-scrollbar {
  width: 8px;
  background-color: #FFFFFF;
}

/* line 149, ../sass/styles.scss */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/* line 153, ../sass/styles.scss */
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
