/**
 * Common styles taken directly from TT's stylesheet for use with extension.
 */

%ttHeader {
	position: absolute;
  width: $panelWidth;
  height: $headerHeight;
  background: #4e4e4e;
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#666),color-stop(100%,#333));
  background: -webkit-linear-gradient(top,#666 0,#333 100%);
  background: linear-gradient(to bottom,#666 0,#333 100%);
  @include border-radius($border-radius);
}

%ttHeaderInsert {
	height: $headerHeight;
  color: #FFFFFF;
  background: #333333;
  background: -webkit-gradient(linear, left top, left bottom,color-stop(0%, #2a2a2a), color-stop(100%, #333333));
  background: -webkit-linear-gradient(top, #2a2a2a 0, #333333 100%);
  background: linear-gradient(to bottom, #2a2a2a 0, #333333 100%);
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.5);
}

%ttHeaderButton {
  width: 31px;
  height: 30px;
  text-indent: -9999px;

	box-shadow: inset 0 0 0 1px #000,inset 0 2px 0 0 rgba(255,255,255,0.25),0 1px 0 0 rgba(0,0,0,0.25);
  overflow: hidden;
  margin-left: -1px;
  background: #808080;
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#999),color-stop(100%,#666));
  background: -webkit-linear-gradient(top,#999 0,#666 100%);
  background: linear-gradient(to bottom,#999 0,#666 100%);	
	border: none;
	cursor: pointer;

	@include border-radius($border-radius);

	&:hover {
		background: #808080;
	  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#bbb),color-stop(100%,#888));
	  background: -webkit-linear-gradient(top,#bbb 0,#888 100%);
	  background: linear-gradient(to bottom,#bbb 0,#888 100%);
	}

	&:active {
		box-shadow: inset 0 0 0 1px #000,inset 0 1px 5px 0 #000,0 1px 0 0 rgba(255,255,255,0.1);
	  background: #808080;
	  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#666),color-stop(100%,#999));
	  background: -webkit-linear-gradient(top,#666 0,#999 100%);
	  background: linear-gradient(to bottom,#666 0,#999 100%);
	}
}

%ttPanelHeader {
  height: 36px;
  color: $headingColor2;
  font-size: 13px;
  font-weight: bold;
  text-shadow: 0 1px 0 #FFF;
  text-align: center;
  border-top: solid 1px #FFF;
  border-bottom: solid 1px #999;
  background: #eee;
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#eee),color-stop(100%,#ccc));
  background: -webkit-linear-gradient(top,#eee 0,#ccc 50%);
  background: linear-gradient(to bottom,#eee 0,#ccc 50%);
}


%ttSongBoardInset {
	font-family: 'DSDotsMedium',Helvetica,Arial,sans-serif;
  color: $songBoardColor;
  text-shadow: 0 0 5px #f00;

  background: url(https://s3.amazonaws.com/static.turntable.fm/images/room/board-sprite-0.png?cachebuster=1) -303px -178px no-repeat;
}

/**
 * Custom Common Styles
 */

%sexyBtn {
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  opacity: 0.75;
  @include transition(all 0.4s ease-in-out);

  &:hover, 
  &.active {
    opacity: 1;
  }
}

%greyBtn {
  @extend %sexyBtn;
  background: #eee;
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#eee),color-stop(100%,#ccc));
  background: -webkit-linear-gradient(top,#eee 0,#ccc 50%);
  background: linear-gradient(to bottom,#eee 0,#ccc 50%);
}

%blueBtn {
  @extend %sexyBtn;
  background-image: -webkit-linear-gradient(top, #4fc9ee, #3aa2d0);
  background-image: linear-gradient(to bottom, #4fc9ee, #3aa2d0); 
}

%greenBtn {
  @extend %sexyBtn;
  background-image: -webkit-linear-gradient(top, lighten($happyColor, 20%), $happyColor);
  background-image: linear-gradient(to bottom, lighten($happyColor, 20%), $happyColor);
}

%redBtn {
  @extend %sexyBtn;
  background-image: -webkit-linear-gradient(top, lighten($warningColor, 20%), $warningColor);
  background-image: linear-gradient(to bottom, lighten($warningColor, 20%), $warningColor);
}

 %orangeBtn {
  @extend %sexyBtn;
  background-image: -webkit-linear-gradient(top, lighten($buttonActive, 20%), $buttonActive);
  background-image: linear-gradient(to bottom, lighten($buttonActive, 20%), $buttonActive);
 }

%headingOne {
	color: $headingColor1;
	text-shadow: 0 1px 1px #000;
}

%headingTwo {
	color: $headingColor2;
	text-shadow: 0 1px 1px #000;	
}

%ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

%headphones-icon {
	text-align: center;
	
	& > div	{
		display: inline-block;
		vertical-align: middle;
	}

  &:hover div div {
    border-color: lighten($buttonActive, 10%);

    &::before {
      background: lighten($buttonActive, 10%);
    }

    &::after {
      background: lighten($buttonActive, 10%);
    }
  }
  
  div div {
    @include box-sizing(content-box);
    font-size: 18px;
    width: 1.625em;
    border: 0.2em solid $contentColor;
    height: 1.438em;
    border-radius: 3em 3em 0 0;
    border-bottom: none;
    margin-left: -0.1em;
    position: relative;

    @include transition(all 0.2s ease-in-out);

		&::before {
			position: absolute;
			content: '';
			top: 1.1em;
			left: 0.05em;
			width: 0.313em;
			height: 0.625em;
			background: $contentColor;
			border-radius: 0 0.125em 0.125em 0;
		}

		&::after {
			position: absolute;
			content: '';
			top: 1.1em;
			left: 1.26em;
			width: 0.313em;
			height: 0.625em;
			background: $contentColor;
			border-radius: 0.125em 0 0 0.125em;			
		}
	}
}

%playlist-icon {
  text-align: center;
  
  & > div {
    display: inline-block;
    vertical-align: middle;
  }

  &:hover div div {
    -webkit-box-shadow: 0 0 4px lighten($buttonActive, 10%);

    &::before {
      background: lighten($buttonActive, 10%);
    }

    &::after {
      border-color: lighten($buttonActive, 10%);
    }
  }
  
  div div {
    @include box-sizing(content-box);
    font-size: 10px;
    margin: 41% auto;
    width: 1.8em;
    height: 3.0em;
    background: $contentColor;
    border: solid 1px $contentColor;
    border-radius: 0.2em;

    @include transition(all 0.2s ease-in-out);

    &::before {
      display: block;
      content: "";
      width: 1.4em;
      height: 0.9em;
      margin: 0.2em auto;
      background: lighten($contentColor, 10%);
      box-shadow: inset 0.1em -0.1em 0.1em rgba(0,0,0,0.2),inset 0.1em 0.1em 0.1em rgba(0,0,0,0.2),inset -0.1em 0.1em 0.1em rgba(0,0,0,0.2);
    }

    &::after {
      display: block;
      content: "";
      width: 0.3em;
      height: 0.3em;
      margin: 0.6em auto;
      border: solid 0.2em lighten($contentColor, 10%);;
      border-radius: 50%;
    }
  }
}

%heart-icon {
  text-align: center;
  
  & > div {
    display: inline-block;
    vertical-align: middle;
  }

  &:hover div div {
    &::before, &::after {
      background: lighten($buttonActive, 10%);
    }
  }
  
  div div {
    @include box-sizing(content-box);
    position: relative;
    font-size: 19px;
    margin-top: 4px;
    width: 0;
    height: 0;

    @include transition(all 0.2s ease-in-out);

    &::before, &::after {
      position: absolute;
      content: "";
      width: 1em;
      height: 1.6em;
      background: $contentColor;
      border-radius: 1em 1em 0 0;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      -webkit-transform-origin: 0 100%;
      transform-origin: 0 100%;
    }

    &::after {
      left: -0.96em;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      -webkit-transform-origin: 100% 100%;
      transform-origin: 100% 100%;
    }
  }
}

%power-icon {
  text-align: center;
  
  & > div {
    display: inline-block;
    vertical-align: middle;
  }

  &:hover div div {
      background: lighten($buttonActive, 10%);

      &::before {
        border-right-color: lighten($buttonActive, 10%);
      }

      &::after {
        border-right-color: lighten($buttonActive, 10%);
        border-left-color: lighten($buttonActive, 10%);
        border-bottom-color: lighten($buttonActive, 10%);
      }
    }

  div > div { 
    font-size: 13px;
    margin-top: -1.5em;
    border-radius: 1em;
    background: $contentColor;
    width: 0.4em;
    height: 1.2em;
    position: relative;
    
    @include transition(all 0.2s ease-in-out);

    &::before {
      right: -1.2em;

      -webkit-transform: rotate(-25deg);
      transform: rotate(-25deg);
      border-top: 0.4em solid rgba(44, 44, 44, 0);
      top: 0.2em;
      position: absolute;
      content: '';
      height: 2em;
      width: 2em;
      border-radius: 100%;
      border-right: 0.4em solid $contentColor;
      border-bottom: 0.4em solid rgba(44, 44, 44, 0);
      border-left: 0.4em solid rgba(44, 44, 44, 0);
      @include transition(all 0.2s ease-in-out);
    }
    
    &::after {
      right: -1.2em;

      -webkit-transform: rotate(25deg);
      transform: rotate(25deg);
      border-top: 0.4em solid rgba(44, 44, 44, 0);
      top: 0.2em;
      position: absolute;
      content: '';
      height: 2em;
      width: 2em;
      border-radius: 100%;
      border-right: 0.4em solid $contentColor;
      border-bottom: 0.4em solid $contentColor;
      border-left: 0.4em solid $contentColor;
      @include transition(all 0.2s ease-in-out);
    }
  }
}

%play-icon div { 
  width: 2em;
  height: 2em;
  border-radius:50%;
  position:relative;
  border: 0.3em solid $contentColor;

  &::before {
    position: absolute;
    content: "";
    top: 0.25em;
    left: 0.75em;
    width: 0em;
    height: 0em;
    border-top: 0.8em solid rgba(44, 44, 44, 0);
    border-bottom: 0.8em solid transparent;
    border-left: 0.8em solid $contentColor;
  }
}


%upArrow-icon div {
  position: relative;
  background: $contentColor;
  font-size: 12px;
  width: 1em;
  height: 1em;
  margin-top: 1em;

  &::before {
    position: absolute;
    bottom: 0.8em;
    left: -0.666em;
    border-left: 1.2em solid rgba(44, 44, 44, 0);
    border-right: 1.2em solid rgba(44, 44, 44, 0);
    border-bottom: 1em solid $contentColor;
    content: "";
  }
}

%downArrow-icon div {
  background: $contentColor;
  font-size: 12px;
  position: relative;
  width: 1em;
  height: 1em;

  &::before {
    bottom: -0.8em;
    left: -0.666em;
    position: absolute;
    border-left: 1.2em solid rgba(44, 44, 44, 0);
    border-right: 1.2em solid rgba(44, 44, 44, 0);
    border-top: 1em solid $contentColor;
    content: "";
  }
}

%eye-icon div {
  width: 0;
  height: 0;
  position: relative;
  margin: 30% auto;
  border: 1.0em solid $contentColor;
  border-radius: 5.0em 0.5em / 5.0em 0.5em;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); 

  &:before {
    content: "";
    position: absolute;
    top: -0.45em;
    left: -0.45em;
    width: 0.4em;
    height: 0.4em;
    background: $contentColor;
    border: 0.25em solid #EDEEE8; 
    border-radius: 50%;
  }
}

%x-icon > div {
  position:relative;
  width: 0.2em;
  height: 0.7em;
  background: $contentColor;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  font-size: 22px;

  &::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0.2em;
    height: 0.7em;
    background: $contentColor;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
}

/* Toggle Switches */

.switch {
  position: relative;
  margin: 0 auto;
  height: 26px;
  width: 120px;
  background: rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
}

.switch-label {
  position: relative;
  z-index: 2;
  float: left;
  width: 58px;
  line-height: 26px;
  font-size: 11px;
  color: rgba(255, 255, 255, 0.35);
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
  cursor: pointer;
}

.switch-label:active {
  font-weight: bold;
}

.switch-label-off {
  padding-left: 2px;
}

.switch-label-on {
  padding-right: 2px;
}

/*
 * Note: using adjacent or general sibling selectors combined with
 *       pseudo classes doesn't work in Safari 5.0 and Chrome 12.
 *       See this article for more info and a potential fix:
 *       http://css-tricks.com/webkit-sibling-bug/
 */
.switch-input {
  display: none;
}

.switch-input:checked + .switch-label {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.65);
  text-shadow: 0 1px rgba(255, 255, 255, 0.25);
  -webkit-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
}

.switch-input:checked + .switch-label-on ~ .switch-selection {
  left: 80px;
  background: $buttonActive;
}

.switch-selection {
  display: block;
  position: absolute;
  z-index: 1;
  top: 2px;
  left: 2px;
  width: 58px;
  height: 16px;
  background: #65bd63;
  border-radius: 3px;
  background: $stripesHighlight;
  background-image: -webkit-linear-gradient(top, #9dd993, #65bd63);
  background-image: linear-gradient(to bottom, #9dd993, #65bd63);
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  -webkit-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out;
  background-image: -webkit-linear-gradient(top, #4fc9ee, #3aa2d0);
  background-image: linear-gradient(to bottom, #4fc9ee, #3aa2d0);
}

.switch-blue .switch-selection {
}

.switch-yellow .switch-selection {
  background: $buttonActive;
  background-image: -webkit-linear-gradient(top, #e0dd94, #c4bb61);
  background-image: linear-gradient(to bottom, #e0dd94, #c4bb61);
}

@-webkit-keyframes highlight { 
  0%  { background-color: $buttonActive; -webkit-box-shadow: 0 0 5px $buttonActive, 0 0 10px $buttonActive, 0 0 15px $buttonActive; }
  100%  { background-color: transparentize($buttonActive, 0.2); -webkit-box-shadow: 0 0 0 transparent; } 
}

// song preview animation
@-webkit-keyframes ticker {
  0%  { width: 0%; }
  100%  { width: 100%; }
}

// fade out animation
@-webkit-keyframes fade {
  0%  { opacity: 0.93; }
  100%  { opacity: 0.05; }
}