@import "compass/css3";

$experimental-support-for-mozilla : false !default;
$experimental-support-for-opera : false !default;
$experimental-support-for-microsoft : false !default;
$experimental-support-for-khtml : false !default;