// playlist menu
#tmsContent section { 
  position: absolute;
  right: 118px;
  bottom: 0px;
  width: 250px;
  height: 25px;
  background-color: $stripesOdd;
  opacity: .91;

  @include box-shadow(#333 0px 0px 5px);

  @include transition(height $panelSpeed ease-in-out);
  @include border-top-radius($border-radius);

  &.open {
    height: 220px;
  }

  h2 {
    @extend %ttPanelHeader;
    @include border-top-radius($border-radius);

    height: 20px;
    padding-top: 5px;
    cursor: pointer;
  }

  ul {
    list-style-type: none;
    height: 193px;
    overflow: auto;
  }

  li {
    position: relative;
    padding: 2px;
    cursor: pointer;
    @include transition(background-color 0.3s ease-in-out);

    &.active::before {
      content: '♫';
      font-size: 14px;
      margin-right: 3px;    
      text-shadow: 0 0 7px $buttonActive, 
                    0 0 8px $buttonActive,
                    0 0 9px $buttonActive, 
                    0 0 10px $buttonActive;
    }

    .playBtn {
      @extend %play-icon;

      position: absolute;
      right: 3px;
      top: 3px;
      font-size: 7px;
      border-radius: 50%;
      opacity: 0.0;
      @include transition(opacity 0.3s ease-in-out);

      &:hover {
        opacity: 0.9;
        -webkit-box-shadow: 0 0 9px $buttonActive,
                            0 0 10px $buttonActive,
                            inset 0 0 9px $buttonActive,
                            inset 0 0 10px $buttonActive;
      }
    }

    &:nth-child(even) {
      background-color: $stripesEven;
    }

    &:nth-child(odd) {
      background-color: $stripesOdd;
    }

    &.viewing {
      color: lighten($contentColor, 10%);
      text-shadow: 0 0 2px $buttonActive;
      background-color: lighten($stripesHighlight, 7%);
    }

    &:hover {
      background-color: $stripesHighlight;

      .playBtn {
        opacity: 0.5;
      }
    }

  }
}