// playlist menu
#tmsContent menu { 
  position: absolute;
  right: 118px;
  bottom: 0px;
  width: 275px;
  height: 30px;
  background-color: $stripesOdd;
  opacity: .91;

  @include transition(height $panelSpeed ease-in-out);
  @include box-shadow($contentColor 0px 0px 5px);
  @include border-top-radius($border-radius);

  h2 {
    @extend %greyBtn;
    position: relative;
    color: $headingColor2;
    text-shadow: 0 1px 0 $headingColor1;
    height: 27px;
    padding-top: 7px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    z-index: 9;
    box-shadow: $listShadow;
    @include border-top-radius($border-radius);
    @include transition(all $panelSpeed ease-in-out);

    &.addActive {
      @extend %blueBtn;
      color: darken($headingColor2, 40%);
      text-shadow: 0 1px 0 $contentBgColor;
    }
  }

  &.open {
    height: 227px;
  
    h2 {
      cursor: default;
    }
  }

  ul {
    list-style-type: none;
    height: 193px;
    overflow: auto;
    box-shadow: inset 0 0 2px #333;
  }

  li {
    position: relative;
    padding: 2px;
    cursor: pointer;
    @include transition(background-color 0.3s ease-in-out);

    label, input {
      width: 60%;
    }

    label { 
      @extend %ellipsis;
      cursor: pointer; 
      display: inline-block;
    }

    input {
      position: absolute;
      left: 2px;
      top: 1px;
    }

    & > div {
      position: absolute;
      right: 3px;
      top: 3px;
      width: 39%; 
    }

    &:hover {
      background-color: $stripesHighlight;

      .playBtn,
      .heartBtn, 
      .addBtn, 
      .editBtn, 
      .removeBtn {
        opacity: 0.7;
      }
    }

    .playBtn,
    .heartBtn, 
    .addBtn, 
    .editBtn, 
    .removeBtn {
      float: right;
      margin-left: 5px;
      @include transition(opacity 0.3s ease-in-out);
    }

    .playBtn,
    .heartBtn, 
    .editBtn, 
    .removeBtn,
    .cancelBtn {
      width: 18px;
      height: 18px;
      border-radius: 50%;
      opacity: 0.0;

      &:hover {
        @extend %blueBtn;
      }      
    }

    .playBtn {
      @extend %play-icon;
      font-size: 7px;
    }

    .heartBtn {
      @extend %heart-icon;
      
      div {
        font-size: 7px; 
      }

      &:hover {
        div {
          &::before, &::after {
            background-color: $warningColor;
          }
        }
      }

      &.active {
        @extend %blueBtn;
        opacity: 1;

        div {

          &::before,
          &::after {
            background: $warningColor;
          }
        }
      }      
    }


    &.active .playBtn,
    .editBtn.active {
      @extend %orangeBtn;
      opacity: 1;
    }

    .editBtn {
      @extend %edit-icon;  
      position: relative;
    }

    .addBtn {
      @extend %greenBtn;
      color: $headingColor1;
      padding: 2px 4px;
      margin-top: 1px;
      margin-left: 4px;
      font-size: 9px;
      opacity: 0;
      @include border-radius($border-radius);

      &:hover {
        opacity: 1;
      }
    }

    .removeBtn,
    .cancelBtn {
      @extend %x-icon;
      font-size: 8px;

      & div {
        margin-left: 7px;
        margin-top: 2px;
      }

      &:hover {
        @extend %redBtn;

        div,
        div::after {
          background-color: $headingColor2; 
        }
      }
    }

    &:nth-child(even) {
      background-color: $stripesEven;
    }

    &:nth-child(odd) {
      background-color: $stripesOdd;
    }

    &.viewing {
      // box-shadow: inset 0 0 5px $buttonActive;
      background-color: $stripesHighlight;
    }

    &.create {

      label { 
        width: 100%;
        display: inline-block;
        text-transform: lowercase; 
        text-align: center;
      }

      input {
        width: 90%;
        opacity: 1;
        z-index: 9;
      }

      &:hover {
        label {
          line-height: 19px;
          font-weight: bold;
          color: $happyColor;
        }

        background-color: $songBoardColor;
      }

      .cancelBtn {
        position: absolute;
        right: 2px;
        top: 2px;
        opacity: 0.7; 

        &:hover {
          @extend %blueBtn;
          opacity: 0.7;

          div,
          div::after {
            background-color: $contentColor; 
          }
        }
      }
    }
  }
}