// playlist menu
#tmsContent menu { 
  position: absolute;
  right: 118px;
  bottom: 0px;
  width: 250px;
  height: 25px;
  background-color: $stripesOdd;
  opacity: .91;

  @include transition(height $panelSpeed ease-in-out);
  @include box-shadow($contentColor 0px 0px 5px);
  @include border-top-radius($border-radius);

  &.open {
    height: 220px;
  }

  h2 {
    @extend %greyBtn;
    color: $headingColor2;
    text-shadow: 0 1px 0 $headingColor1;
    height: 36px;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    @include border-top-radius($border-radius);

    height: 20px;
    padding-top: 5px;
    cursor: pointer;
    @include transition(all $panelSpeed ease-in-out);

    &.addActive {
      @extend %blueBtn;
      color: $contentColor;
      text-shadow: 0 1px 0 $headingColor2;
    }
  }

  ul {
    list-style-type: none;
    height: 193px;
    overflow: auto;
  }

  li {
    position: relative;
    padding: 2px;
    cursor: pointer;
    @include transition(background-color 0.3s ease-in-out);

    &.active::before {
      content: '♫';
      font-size: 14px;
      margin-right: 3px;    
      text-shadow: 0 0 7px $buttonActive, 
                    0 0 8px $buttonActive,
                    0 0 9px $buttonActive, 
                    0 0 10px $buttonActive;
    }

    & > div {
      position: absolute;
      right: 3px;
      top: 3px;
      width: 80px; 
    }

    .playBtn, .addBtn {
      float: right;
      margin-left: 2px;
      @include transition(opacity 0.3s ease-in-out);
    }

    .playBtn {
      @extend %play-icon;

      font-size: 7px;
      border-radius: 50%;
      opacity: 0.0;

      &:hover {
        @extend %orangeBtn;
      }
    }

    .addBtn {
      @extend %greenBtn;
      color: $headingColor1;
      padding: 2px 4px;
      margin-top: 1px;
      margin-left: 4px;
      font-size: 9px;
      @include border-radius($border-radius);
      opacity: 0;
    }

    &:nth-child(even) {
      background-color: $stripesEven;
    }

    &:nth-child(odd) {
      background-color: $stripesOdd;
    }

    &.viewing {
      color: lighten($contentColor, 10%);
      text-shadow: 0 0 2px $buttonActive;
      background-color: lighten($stripesHighlight, 7%);
    }

    &:hover {
      background-color: $stripesHighlight;

      .playBtn, .addBtn {
        opacity: 0.8;
      
        &:hover {
          opacity: 1;
        }
      }
    }

  }
}