#tmsContent {
	table {
		font-size: 12px;
		height: 0px;
		border-spacing: 0;
		width: 680px;
		table-layout: fixed;

		thead {
			@extend %ttPanelHeader;

			.sorting_asc, .sorting_desc {
				color: darken($headingColor2, 20%);
				text-shadow: 0 1px 0 #eee;
			}
		}

		tbody {
			height: $libraryHeight;
			overflow: auto;
			color: $contentColor;
			
			tr {
				&:hover td { 
					background: $stripesHighlight; 
				}
			}
		}

		th { 
			cursor: pointer; 
			padding: 0 2px;
		}

		tr { 
			cursor: pointer; 

			&.previewActive td {
				-webkit-animation-name: pulsate;
				-webkit-animation-duration: 1.2s;
				-webkit-animation-iteration-count: infinite;

				.playPause {
					opacity: 0.8 !important;
				}
			}
			
			& .length, 
			& .genre, 
			& .pos { 
				text-align:center; 
			}

			& td.pos {
				font-size: 8px;
			}
		}

		td {
			@include box-sizing(content-box);

			height: 12px;
			line-height: 12px;
			padding: 5px 3px;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			@include transition(all $panelSpeed ease-in-out);
		}

	}
	
	.songListHead {
		@extend %ttPanelHeader;
		
		padding: 5px;
		height: 30px;

		@include border-top-radius($border-radius);	

		.dataTables_info {
			text-align: left;
		}

		.dataTables_filter {
			position: absolute;
			top: 5px;
			right: 5px;
			width: 25%;

			input {
				padding: 2px 5px;
				border: 0;
			  outline: 0;
			  background: #FFF;
			  border-radius: 14px;
			  box-shadow: inset 0 0 0 1px #888,0 1px 0 0 #FFF;
				outline: none;
			}
		}
	}

	.dataTables_wrapper {
		@include border-radius($border-radius);	
	}
	
	.dataTables_scrollHead {
		@extend %headingTwo;
		width: $panelWidth !important;
		height: 18px;
	}

	.dataTables_scrollBody {
		width: $panelWidth !important;
	}

	// song actions
	 tr:hover .toTop, tr:hover .toBottom, tr:hover .playPause {
		opacity: 0.5;
	}

	.toTop,
	.toBottom,
	.playPause {
		position: relative;
		float: left;
		width: 16px;	
		height: 16px;
		margin: -2px 5px -2px 0;
		border-radius: 50%;

		div {
			margin-left: auto;
			margin-right: auto;
		}

		opacity: 0.0;
		@include transition(opacity 0.3s ease-in-out);

		&:hover {
			background-color: $buttonActive;
			-webkit-box-shadow: 0 0 9px $buttonActive,
													0 0 10px $buttonActive;
		}
	}

	.moreInfo:hover div::before{
		border-color: $buttonActive;
	}

	.toTop div, 
	.toBottom div {
		font-size: 6px;
	}

	.toTop {
		@extend %upArrow-icon;
		margin-top: 1px;
	}

	.toBottom {
		@extend %downArrow-icon;
		margin-top: 1px;

		& div {
			margin-top: 2px;
		}
	}

	.playPause {
		@extend %play-icon;
		font-size: 7px;
		margin-right: 0;
		margin-top: -2px;
	}
}

// playlist menu
#tmsContent section { 
	position: absolute;
	right: 10px;
	bottom: 0px;
	width: 250px;
	height: 25px;
	background-color: $stripesOdd;
	opacity: .91;

	@include box-shadow(#333 0px 0px 5px);

	@include transition(height $panelSpeed ease-in-out);
	@include border-top-radius($border-radius);

	&.open {
		height: 220px;
	}

	h2 {
		@extend %ttPanelHeader;
		@include border-top-radius($border-radius);

		height: 20px;
		padding-top: 5px;
		cursor: pointer;
	}

	ul {
		list-style-type: none;
		height: 193px;
		overflow: auto;
	}

	li {
		position: relative;
		padding: 2px;
		cursor: pointer;
		@include transition(background-color 0.3s ease-in-out);

		&.active::before {
			content: '♫';
			font-size: 14px;
			margin-right: 3px;		
			text-shadow: 0 0 7px $buttonActive, 
										0 0 8px $buttonActive,
										0 0 9px $buttonActive, 
										0 0 10px $buttonActive;
		}

		.playBtn {
			@extend %play-icon;

			position: absolute;
			right: 3px;
			top: 3px;
			font-size: 7px;
			border-radius: 50%;
			opacity: 0.0;
			@include transition(opacity 0.3s ease-in-out);

			&:hover {
				opacity: 0.9;
				-webkit-box-shadow: 0 0 9px $buttonActive,
														0 0 10px $buttonActive,
														inset 0 0 9px $buttonActive,
														inset 0 0 10px $buttonActive;
			}
		}

		&:nth-child(even) {
			background-color: $stripesEven;
		}

		&:nth-child(odd) {
			background-color: $stripesOdd;
		}

		&.viewing {
			color: lighten($contentColor, 10%);
			text-shadow: 0 0 2px $buttonActive;
			background-color: lighten($stripesHighlight, 7%);
		}

		&:hover {
			background-color: $stripesHighlight;

			.playBtn {
				opacity: 0.5;
			}
		}

	}
}