/**
 * Additional Styles for the Song Board
 */

#bigboard {
  text-align: center;
}

.zoom-0 #awesome-meter {
	top: -57px !important;
}

#tmsCurrentSong {
	position: absolute;
  bottom: -15px;
  left: 30%;
  width: 40%;
  display: inline-block;
  background: url(https://s3.amazonaws.com/static.turntable.fm/images/room/board-sprite-0.png) 0 -15px no-repeat; 
  background-size: 100%;
	padding: 0px 7px 5px 7px;
  @include border-bottom-radius($border-radius);

  div {
    @extend %ttSongBoardInset;
    background-size: 200%;
    background-position: -60px -152px;
  	background: url(https://s3.amazonaws.com/static.turntable.fm/images/room/board-sprite-0.png) top left no-repeat; 
    background-size: 100%;
    padding: 0 5px;

  	text-align: center;
		box-shadow: inset 1px 1px 1px 0 rgba(0, 0, 0,0.5);
		@include border-bottom-radius($border-radius);
  }

  label	{ 	
  	display: inline-block;
  	margin: 2px 4px 0 4px;
  	
  	.emoji {
  		opacity: .7;
  	}
  }
}
