// variables
$border-radius: 5px !default;

$headerHeight: 60px !default;
$libraryHeight: 400px !default;

$panelWidth: 700px !default;
$panelOpenHeight: 460px !default;
$panelClosedHeight: $headerHeight !default;
$panelSpeed: 0.4s;

$contentBgColor: #cccccc !default;
$contentColor: #333333 !default;

$stripesOdd: #eeeeee !default;
$stripesEven: #ffffff !default;
$stripesHighlight: #baebfe !default;

$headingColor1: #ffffff !default;
$headingColor2: #999999 !default;

$songBoardColor: #f2dace;
$buttonActive: #d8a126;

$warningColor: #912120;

// imports
@import "config";
@import "common";
@import "dataTables";
@import "songList";
@import "playlistMenu";
@import "songBoard";
@import "checkbox";

#tmsPanel, 
#tmsPanel *
#tmsCurrentSong, 
#tmsCurrentSong * {
	@include box-sizing(content-box);
}

body {
	-webkit-font-smoothing: antialiased;
}

// begin base styles
#tmsPanel {
	position: absolute;
	bottom: -75px;
	width: $panelWidth;
	height: $panelClosedHeight;
	margin-right: -350px;
	overflow: hidden;
	z-index: 9;
	opacity: .95;

	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;

	// class leveraged from TT for responsive updates
	.width-level-0 &, .width-level-1 & { right: 631px; }
	.width-level-2 &, .centered-mode & { right: 50%; }

	@include border-radius($border-radius); 
	@include transition(height $panelSpeed ease-in-out);
	
	&.open {
		height: $panelOpenHeight;
	}

	header {
		@extend %ttHeader;
		left: 0;
		bottom: 0;
		z-index: 9;

		& > hgroup {
			width: 15%;
			height: 43px;
			padding-top: 20px;

			a {
				text-decoration: none;
			}

			h1, h2 {
				-webkit-transform: rotate(-25deg) translate3d( 0, 0, 0);
				text-align: center;
			}

			h1 {
				@extend %headingOne;
				color: $buttonActive;
				margin-right: 8px;
				font-size: 12px;
			}

			h2 {
				@extend %headingTwo;
				font-size: 10px;
				margin-top: -3px;
				margin-left: 10px;
			}
		}
	}

	&.open header {
		@include border-top-radius(0); 
	}

	hgroup, #hud, nav {
		float: left;
	}

	nav {
		position: relative;
		width: 43%;
	}

	.toggleBtn,
	.bopBtn,
	.listBtn,
	.heartBtn {
		position: relative;
		height: 50px;
		width: 50px;
		margin: 5px;
		cursor: pointer;
		float: left;

		border-radius: 25px;
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.6);

		&:hover {
			-webkit-box-shadow: inset 0 0 9px rgba(0,0,0, 0.9);
		}	

		@include transition(all 0.2s ease-in-out);
	}	

	.listBtn {
		@extend %playlist-icon;
		margin-left: 10px;

		&.open {
			div div {
	    -webkit-box-shadow: 0 0 4px $buttonActive;

	    &::before {
	      background: $buttonActive;
	    }

	    &::after {
	      border-color: $buttonActive;
	    }
	  }
		}
	}

	.heartBtn {
		@extend %heart-icon;
	}

	.bopBtn {
		@extend %headphones-icon;

		& > div {
			margin-top: 6px;			
			margin-left: 2px;
		}

		&.active {
			-webkit-box-shadow: inset 0 0 9px rgba(0,0,0,0.7);

			& > div > div {
        border-color: $buttonActive;

	      &::before {
					background: $buttonActive;
	      }

	      &::after {
	        background: $buttonActive;
	      }				
			}
		}
	}
}

#hud {
	@extend %ttHeaderInsert;
	width: 40%;
	height: 50px;
	padding: 5px;

	hgroup {
		margin-top: -3px;
		margin-bottom: 8px;

		h1, h2 {
			display: inline-block;
		}

		h1 {
			font-size: 13px;
			color: $headingColor1;
		}			

		h2 {
			font-size: 12px;
			color: $headingColor2;
			width: 180px;
			text-align: right;
			@extend %ellipsis;	
		}
	}

	& section > div {
		width: 100%;
		padding: 5px;
		margin: -5px;
		background-color: transparentize($contentBgColor, .95);
	}

	div { float: left; }

	img {
		width: 25px;
		height: 25px;
	}

	label {
		margin-top: -2px;
		color: $headingColor2;
	}

	span {
		color: $contentBgColor;
	}

	label, span {
		margin-left: 5px;
		font-size: 11px;
		display: block;
		width: 245px;

		@extend %ellipsis;
	}
}

#tmsContent {
	position: relative;
	width: $panelWidth;
	height: 10px;
	margin-bottom: 5px;
	overflow: hidden;

	color: $contentColor;
	background-color: $contentBgColor;

	@include border-top-radius($border-radius); 
	@include transition(height $panelSpeed ease-in-out);

	.open & {
		height: $libraryHeight;
		margin-bottom: 0;
	}
}

::-webkit-scrollbar {
  width: 8px;	
  background-color: #FFFFFF;
}
 
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
 
::-webkit-scrollbar-thumb {
	background-color: rgba(0,0,0,0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}