<article id='tmsPanel' data-bind="css: { open: isContentOpen }">
	<header>
		<hgroup>
			<h1>the Music Scene</h1>
			<h2>by Duder</h2>
		</hgroup>
		<div id="hud"></div>
		<nav>
			<div class='bopBtn' data-bind='click: toggleAutoBop, css: { active: autoBopOn }, attr: { title: autoBopOn() ? "Turn off auto-bop." : "Turn on auto-bop." }'>
				<div><div></div></div>
			</div>

			<div class='toggleBtn' data-bind='click: toggleOpen, css: { open: isContentOpen }, attr: { title: isContentOpen() ? "Close panel." : "Open panel." }'>
				<div><div></div></div>
			</div>		
		</nav>
	</header>

	<div id="tmsContent">
		<!-- Song List -->
		<div data-bind='template: { name: "songList-template", data: library.songList }'></div>
	</div>
</article>