<article id='tmsPanel' data-bind="css: { open: isContentOpen }">
	<header>
		<div id="tmsLogo"><div><div></div></div></div>
		<hgroup>
			<h1>the Music Scene</h1>
			<h2><span class="emoji emoji-blue_heart"></span> Duder</h2>
		</hgroup>
		<nav>
			<button class='toggleBtn' data-bind='click: toggleOpen, text: isContentOpen() ? "Close Libary" : "Open Libary"'></button>		
		</nav>
	</header>

	<div id="tmsContent">
		<div>
			<table data-bind='template: { name: "songList-template", data: library.songList }'>
			</table>
		</div>
	</div>
</article>