<h2 data-bind='click: toggleOpen, text: playlistMenuTitle, css: { addActive: selectedSongs().length > 0 }, attr: { title: playlistsOpen() ? "Hide Playlists." : "View Playlists." }'></h2>
<ul data-bind="foreach: playlists">
  <li data-bind="click: $parent.changeViewing, css: { active: active, viewing: name() === $root.library.viewingPlaylist().name() }">
    <label data-bind="text: name"></label>
    <div>
      <div class='addBtn' data-bind="visible: $parent.selectedSongs().length > 0, click: $parent.addSelectedSongsToPlaylist, clickBubble: false, attr: { title: 'Add selected songs to playlist' }">
        <span>Add Songs</span>
      </div>
      <div class='playBtn' data-bind="visible: !active(), click: $parent.changeActive, clickBubble: false, attr: { title: 'Set ' + name() + ' as active.' }">
        <div></div>
      </div>
    </div>
  </li>
</ul>