<h2 data-bind='click: toggleOpen, attr: { title: playListsOpen() ? "View Playlists." : "Hide Playlists." }'>Playlists</h2>
<ul data-bind="foreach: playLists">
  <li data-bind="click: $parent.changeSongList, css: { active: active, viewing: name() === $root.library.viewingPlayList().name() }">
    <label data-bind="text: name"></label>
    <div>
      <!-- ko if: $parent.selectedSongs().length > 0 -->
      <div class='addBtn' data-bind="click: $parent.addSelectedSongsToPlaylist, clickBubble: false, attr: { title: 'Add selected songs to playlist' }">
        <span>Add Songs</span>
      </div>
      <!-- /ko -->
      <!-- ko ifnot: active -->
      <div class='playBtn' data-bind="click: $parent.changeActiveList, clickBubble: false, attr: { title: 'Set ' + name() + ' as active.' }">
        <div></div>
      </div>
      <!-- /ko -->
    </div>
  </li>
</ul>