<div id='tmsCurrentSong'>
	<div>
		<label>
			<span class='emoji emoji-thumbsup'></span>
			<span data-bind='text: currentSong().upvotes'></span>
		</label>
		<label>
			<span class='emoji emoji-thumbsdown'></span>
			<span data-bind='text: currentSong().downvotes'></span>
		</label>
		<label>
			<span class='emoji emoji-heart'></span>
			<span data-bind='text: currentSong().snags'></span>
		</label>
	<!-- 				<label>
			<span class='emoji emoji-score'></span>
			<span data-bind='text: currentSong.fanned'></span>
		</label> -->
	</div>
</div>